<!DOCTYPE HTML>
<html>
<head>
    <title>Characters</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<button onclick="window.location.href='http://localhost:8080/characters/new';">
      Add new character
    </button>
	<table>
		<thead> 
			<th>ID
			<th>Name
			<th>Experience
			<th>Details
			<th>Picture
		<tbody>		
			<tr th:if="${characterList.empty}">
	            <td colspan="2"> No characters could be found in the database at this time</td>
	        </tr>
			<tr th:each="character : ${characterList}">
	            <td><span th:text="${character.id}"> ID </span></td>
	            <td><span th:text="${character.name}"> Name </span></td>
	            <td><span th:text="${character.experience}"> Experience </span></td>
	            <td><span th:text="${character.details}"> Details </span></td>
	            <td><span th:text="${character.picture}"> Picture </span></td>
	        </tr>
</body>
</html>