<!DOCTYPE HTML>
<html>
<head>
    <title>Characters</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table>
		<thead> 
			<th>ID<\th>
			<th>Name<\th>
			<th>Experience<\th>
			<th>Details<\th>
			<th>Picture<\th>
		<\thead>
		<tbody>		
			<tr th:if="${characterList.empty}">
	            <td colspan="2"> No characters could be found in the database at this time</td>
	        </tr>
			<tr th:each="character : ${character}">
	            <td><span th:text="${character.characterId}"> ID </span></td>
	            <td><span th:text="${character.characterName}"> Name </span></td>
	            <td><span th:text="${character.characterExperienceValue}"> Experience </span></td>
	            <td><span th:text="${character.characterDetails}"> Details </span></td>
	            <td><span th:text="${character.characterPicture}"> Picture </span></td>
	        </tr>
		<\tbody>
	<\table>
</body>
</html>