<!DOCTYPE HTML>
<html>
<head>
    <title>Character form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form action="#" th:action="@{/characters/new}" th:object="${character}" method="post">
		<p>Name: <input type="text" th:field="*{name}" />
		<p>Experience: <input type="number" min="0" th:field="*{experience}" />
		<p>Details: <input type="text" th:field="*{details}" />
		<p>Picture link: <input type="text" th:field="*{picture}" />
		<input type="submit" id="submitButton" th:value="Submit" />
	</form>
